<<in {item, name}>>

<h4 id="<<t prefix + item.id>>"><a href="#<<t prefix + item.id>>">
  <span class=kind><<t item.type>></span> <<t name>></a>
</h4>

<<if item.extends>><p>Extends <code><<type item.extends>></code>.</p><</if>>

<<markdown item.description>>

<dl>

<<if item.constructor>>
  <<define {item: item.constructor, name: name}>>
<</if>>

<<if item.properties>>
  <<for name, prop in item.properties>><<define {item: prop, name: name}>><</for>>
<</if>>

<<if item.staticProperties>>
  <<for name, prop in item.staticProperties>><<define {item: prop, name: name, static: true}>><</for>>
<</if>>

</dl>
