<<in item>>

<h4 id="<<t anchor(item)>>"><a href="#<<t anchor(item)>>">
  <span class=kind><<t item.type>></span> <<t itemName(item)>></a>
</h4>

<<if item.extends>><p>Extends <code><<type item.extends>></code>.</p><</if>>

<<markdown item.description>>

<dl>

<<if item.constructor>>
  <<define {item: item.constructor, name: itemName(item)}>>
<</if>>

<<if item.properties>>
  <<for name, prop in item.properties>><<define {item: prop, name: name}>><</for>>
<</if>>

<<if item.staticProperties>>
  <<for name, prop in item.staticProperties>><<define {item: prop, name: name, static: true}>><</for>>
<</if>>

</dl>
