<<in item>>

<h4 id="<<t anchor(item)>>"><a href="#<<t anchor(item)>>">
  <span class=kind><<t item.type>></span> <<t itemName(item)>></a>
</h4>

<<if item.extends>><p>Extends <code><<type item.extends>></code>.</p><</if>>

<<markdown item.description>>

<<if item.constructor>>
  <h5 id="<<t anchor(item.constructor)>>"><a href="#<<t anchor(item.constructor)>>">Constructor</a></h5>

  <dl><<define item.constructor>></dl>
<</if>>

<<if item.properties>>
  <h5 id="<<t anchor(item)>>_props">Properties</h5>
  <dl>
    <<for _, prop in item.properties>><<define prop>><</for>>
  </dl>
<</if>>

<<if item.staticProperties>>
  <h5 id="<<t anchor(item)>>_static">Static properties</h5>
  <dl>
    <<for _, prop in item.staticProperties>><<define prop>><</for>>
  </dl>
<</if>>
