<<in {item, name, static}>>
<dt id="<<t prefix + item.id>>">
  <code><<if item.abstract>>abstract <</if>><<if static>>static <</if>><<if item.readonly>>readonly <</if>>
    <<if item.type == "Function" && !item.optional>>
      <<if /\.constructor$/.test(item.id)>>new <</if>><strong><a href="#<<t prefix + item.id>>"><<t name>></a></strong><<fntype item>>
    <<else>>
      <strong><a href="#<<t prefix + item.id>>"><<t name>></a></strong><<if item.optional>>&#8288;?<</if>><<if item.type>>: <<type item>><</if>>
    <</if>>
  </code>
  <<for sig item.overloaded || []>>
    <div><code><strong><a href="#<<t prefix + item.id>>"><<t name>></a></strong><<fntype sig>></code></div>
  <</for>>
</dt>

<dd>
  <<markdown item.description>>
  <<do let inList = false>>
  <<for name, prop in item.properties || {}>>
    <<if hasDescription(prop)>>
      <<if !inList>><dl><<do inList = true>><</if>>
      <<define {item: prop, name: name}>>
    <</if>>
  <</for>>
  <<for param (item.params || []).concat(item.typeParams || [])>>
    <<if hasDescription(param)>>
      <<if !inList>><dl><<do inList = true>><</if>>
      <<define {item: param, name: param.name}>>
    <</if>>
  <</for>>
  <<if inList>></dl><</if>>
</dd>
