<<do var classes = classesIn(items), functions = functionsIn(items), variables = variablesIn(items) >>

<h2 id="<<t module>>"><a href="#<<t module>>"><span class=kind>module</span> <<t module>></a></h2>

<<if moduleText>><<markdown moduleText>><</if>>

<<if classes.length>>
  <<for item classes>><<class item>><</for>>
<</if>>

<<if functions.length>>
  <h3 id="<<t module>>_functions">Functions</h3>
  <dl>
    <<for item functions>><<define item>><</for>>
  </dl>
<</if>>

<<if variables.length>>
  <h3 id="<<t module>>_consts">Constants</h3>
  <dl>
    <<for item variables>><<define item>><</for>>
  </dl>
<</if>>
