<<in {item, name}>>

<dt id="<<t prefix + item.id>>">
  <span class=kind>type</span>
  <code>
    <strong><a href="#<<t prefix + item.id>>"><<t name>></a></strong><<typeparams item.typeParams>> = <<type item>>
  </code>
</dt>

<dd>
  <<markdown item.description>>
  <<do let inList = false>>
  <<for name, prop in item.properties || {}>>
    <<if hasDescription(prop)>>
      <<if !inList>><dl><<do inList = true>><</if>>
      <<define {item: prop, name: name}>>
    <</if>>
  <</for>>
  <<if inList>></dl><</if>>
</dd>
